/*****************************************************************************************************************
*********************************************COLOR VARIABLE*******************************************************
*****************************************************************************************************************/

$gris-fonce: rgb(48, 48, 48);
$gris: rgb(64, 64, 64);
$gris-clair: rgb(84, 84, 84);
$blanc-casse: rgb(254, 254, 226);
$grenat: rgb(110, 11, 20);
$grenat-clair: rgb(135, 15, 26);
$jaune: rgb(239, 216, 7);
$or : rgb(209, 186, 7);

/*****************************************************************************************************************
**********************************************FONT VARIABLE*******************************************************
*****************************************************************************************************************/

@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100i,400|Rokkitt:400,600');
$title-font: 25px 'Barlow Semi Condensed', sans-serif;
$p-font: 20px 'Rokkitt', serif;
$subtitle-font: 15px thin 'Barlow Semi Condensed', sans-serif;