<div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3" class=""></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4" class=""></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item">
            <h2>Suit mon Linkedin !</h2>
            <div class="description">
                ... afin de suivre mo actualitée professionelle et de rejoindre mon réseau !
            </div>
            <img src="img/linkedin.png" class="img" alt="linkedin">
            <img src="img/linkedin-background.png" class="img-linkedin" alt="linkedin">
        </div>
        <div class="carousel-item">
            <h2>Suit mon Git-Hub !</h2>
            <div class="description">
                ... afin de retrouver certains de mes projets, mais surtout pour avoir accès au code source !
                n'hésite pas à m'y suivre et à me contacter si tu as un commentaire à faire !
            </div>
            <img src="img/github.jpg" class="img" alt="github">
            <img src="img/github-background.png" class="img-github" alt="github">
        </div>
        <div class="carousel-item active">
            <h2>Découvre mon CodePen !</h2>
            <div class="description">
                ... afin de découvrir de nombreux "pens", de petis projets persos fun ou utile, comme certaine partie de
                ce site !
            </div>
            <img src="img/codepen.png" class="img" alt="codepen">
            <img src="img/codepen-background.png" class="img-codepen" alt="codepen">
        </div>
        <div class="carousel-item ">
            <h2>Visite mon Portfolio !</h2>
            <div class="description">
                ... afin de découvrir mes projets persos et professionnels dans l'univers du web !
            </div>
        </div>
        <div class="carousel-item ">
            <h2>Découvre des tricks CSS !</h2>
            <div class="description">
                ... afin de découvrir les astuces que j'ai utiliser lors de mes différents projets.
            </div>
        </div>
    </div>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         x="0px" y="0px"
         width="340px" height="333px" viewBox="0 0 340 333" enable-background="new 0 0 340 333"
         xml:space="preserve">

            <g transform="translate(115, 115)">
                <circle r="103" class="circle-front"/>
            </g>
</svg>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="z-index: 1000">
        <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="z-index: 1000">
        <span class="carousel-control-next-icon" aria-hidden="true" ></span>
        <span class="sr-only">Next</span>
    </a>

    <div class="carousel-img"></div>

</div>

