{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="background-cv"></div>
    <div class="page-cv container">
        <h2>CURICULUM VITAE</h2>
        <section>
            <div class="card-panel">
                <span class="icone">
                    <i class="fas fa-calendar-check"></i>
                </span>
                <h3>Expériences</h3>
                <div>
                    <h4>Développeur Web
                        <small>- 2018</small>
                    </h4>
                    <p>
                        Stage de 5 mois chez 2ISR à Cholet développement web (principalement front), maquettage.
                    </p>
                </div>
                <div>
                    <h4>DevOps’Days
                        <small>- 2017</small>
                    </h4>
                    <p>
                        Création d'un projet ainsi que réalisation d’un site de mise en commun de biens matériels
                    </p>
                </div>

            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-12 col-lg-6 ">
                    <div class="card-panel">
                        <span class="icone">
                            <i class="fas fa-graduation-cap"></i>
                        </span>
                        <h3>Formations</h3>
                        <div>
                            <h4>Concepteur et Developpeur Informatique (CDI)
                                <small>- 2019</small>
                            </h4>
                            <p>
                                Diplome RNCP de niveau 2 (BAC +3) au CEFii à Angers (49):
                                Developpeur web front & back - Symfony - Angular - Ionic
                            </p>
                        </div>
                        <div>
                            <h4>IT START
                                <small>- 2018</small>
                            </h4>
                            <p>
                                Formation IT START section DIGI à l’imie : Dev Front - Suite Adobe - SEO ...
                            </p>
                        </div>
                        <h3>Diplômes</h3>
                        <div>
                            <h4>Baccalauréat
                                <small>- 2017</small>
                            </h4>
                            <p>
                                Diplôme du Baccalauréat au Lycée Europe Robert Schuman à Cholet (49) : Spécialisation
                                Initiation aux Sciences du Numérique
                            </p>
                        </div>
                        <div>
                            <h4>Brevet des Collèges
                                <small>- 2014</small>
                            </h4>
                            <p>
                                Diplôme du Brevet des Collèges - Collège de l’Evre à Montrevault(49)– Latin
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 ">
                    <div class="card-panel">
                        <span class="icone">
                            <i class="fas fa-briefcase"></i>
                        </span>
                        <h3>Compétences</h3>
                        <div>
                            <h4>Languages Informatiques</h4>
                            <p>
                                HTML
                            </p>
                            <div class="progress">
                                <div class="determinate 100" style="width: 100%;"></div>
                            </div>
                            <p>
                                CSS
                                <small>(sass & scss / bootstrap / responsive)</small>
                            </p>
                            <div class="progress">
                                <div class="determinate 100" style="width: 95%;"></div>
                            </div>
                            <p>
                                Java Script
                                <small>(vanilla / jquery / typescript)</small>
                            </p>
                            <div class="progress">
                                <div class="determinate 100" style="width: 90%;"></div>
                            </div>
                            <p>
                                PHP
                            </p>
                            <div class="progress">
                                <div class="determinate 100" style="width: 65%;"></div>
                            </div>
                            <p>
                                SQL
                                <small>(my sql / datagrip)</small>
                            </p>
                            <div class="progress">
                                <div class="determinate 100" style="width: 55%;"></div>
                            </div>

                        </div>
                        <div>
                            <h4>Autres langages
                            </h4>
                            <p>
                                Angular , Ionic , Symfony , Wordpress , Slim
                            </p>
                        </div>
                        <div>
                            <h4>Autres
                            </h4>
                            <p>
                                Maquettage
                                <small>(In Dessign / Mockup )</small>
                            </p>
                            <div class="progress">
                                <div class="determinate 100" style="width: 80%;"></div>
                            </div>
                            <p>
                                Photshop & Illustrator
                            </p>
                            <div class="progress">
                                <div class="determinate 100" style="width: 65%;"></div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="card-panel">
                <span class="icone">
                    <i class="fas fa-info"></i>
                </span>
                <h3>Divers</h3>
                <div>
                    <h4>Langue</h4>
                    <p class="langue p-b-5">
                        <img src="img/GB-flag.png" alt=""  height="20px" class="p-r-15">

                        Anglais niveau B2 + Vocabulaire informatique / développement.
                    </p>
                    <p class="langue">
                        <img src="img/espagne-flag.png" alt=""  height="20px" class="p-r-15" >
                        Espagnol niveau B1 / B2.
                    </p>
                </div>
                <div>
                    <h4>Workspace</h4>
                    <!-- TODO : popover on hover chaque élément -->
                    <p class="langue">
                        <i class="fas fa-desktop p-r-15"></i>
                        PhP Storm, Git, gulp, npm, Data Grip, Photoshop & Illustrator, Chrome & Firefox développer
                        édition.
                    </p>
                </div>
                <div>
                    <h4>Centre d'intérêts</h4>
                    <p class="langue">
                        <img src="img/moto.png" alt=""  width="55px" class="p-r-15" >
                        Moto - Permis 125 cc : Véhiculé (yamaha YZF)
                    </p>
                    <p class="langue">
                        <img src="img/car.png" alt=""  width="55px" class="p-r-15" >
                        Voiture - Permis voiture en cours
                    </p>
                    <p class="langue">
                        <i class="fas fa-briefcase-medical p-r-15" ></i>
                        PSC1 (Prévention et Secours Civiques de niveau 1)
                    </p>
                </div>

            </div>
        </section>
    </div>
{% endblock %}
