{% block header %}
    <div class="header">
        <nav class="navbar sticky navbar-expand-lg d-flex">
            <a class="navbar-brand flex-center" href="#"><h1 class="title ">Anton Coatrieux <span class="subtitle"> - Front
                 Devlopeur / Designer</span></h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"> <i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav list-lien">
                    <li class="nav-item active">
                        <i class="fas fa-home"></i>
                        <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <i class="fas fa-address-book"></i>
                        <a class="nav-link" href="#">CV</a>
                    </li>
                    <li class="nav-item">
                        <i class="far fa-bookmark"></i>
                        <a class="nav-link" href="#">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <i class="fas fa-envelope"></i>
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}